{% extends "story/base.html" %}
{% load static %}
{% block content %}

<br>


<div class="panel panel-default" style="font-weight:300;opacity:1;font-family:'Gotham SSm A','Gotham SSm B',Helvetica,Arial,sans-serif;color:#666;text-transform:none">
  <table class="table table-bordered" width="70%">
    <tbody>
      <tr>
  {% for product in products|slice:":3" %}
  <td width="33%" style="line-height:160%;padding:3em"><center>
    <!--<h3><a href="product/{{ product.id }}">{{ product.descshort }}</a></h3>-->
    <p><span style="font-size:2em;font-weight:100">{{ product.descshort }}<span></p><br>
    <p><b>Страхователь: </b>{{ product.listProviders }}</p>
    <p><b>Участие: </b>{{ product.part }}</p>
    <p><b>Купон: </b>{{ product.coupon }}</p>
  </center></td>
  {% endfor %}
      </tr>
      <tr>
  {% for product in products|slice:":3" %}
  <td style="line-height:160%;padding:3em">
    <p>{{ product.desclong }}</p>
  </td>
  {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  {% for product in products %}
  <div class="item well well-sm">
    <a href="product/{{ product.id }}"><img class="img-rounded" src="{% static "/" %}{{ product.imgpath }}" width="100%"/></a><br><br>
    <h4><b><a href="product/{{ product.id }}">{{ product.descshort }}</a></b></h4>
    <p><b>Страхователь: </b>{{ product.listProviders }}</p>
    <p><b>Участие: </b>{{ product.part }}</p>
    <p><b>Купон: </b>{{ product.coupon }}</p>
    <p>{{ product.desclong }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
