{% extends "story/base.html" %}
{% load static %}
{% block content %}
<table>
  <tr>
    <td width="20%" valign="top">
      <div class="checkbox"><label><input type="checkbox" value=""><span class="checkboxtext">Купонные продукты</span></label></div>
      <div class="checkbox"><label><input type="checkbox" value=""><span class="checkboxtext">Продукты с участием</label></span></div>
      <div class="checkbox"><label><input type="checkbox" value=""><span class="checkboxtext">Продукты с участием и купоном</span></label></div>
    </td>
    <td width="80%">
      <div class="row">
        {% for product in products %}
        <div class="item well well-sm">
          <img class="img-rounded" src="{% static "/" %}{{ product.imgpath }}" width="100%"/><br><br>
          <p><b>{{ product.name }}</b></p>
          <p>{{ product.desclong }}</p>
        </div>
        {% endfor %}
      </div>
    </td>
  </tr>
</table>
{% endblock %}
