{% extends "story/base.html" %}
{% load static %}
{% block content %}


<div class="row">
  {% for product in products %}
  <div class="item well well-sm">
    <img class="img-rounded" src="{% static "/" %}{{ product.imgpath }}" width="100%"/><br><br>
    <p><b>{{ product.descshort }}</b></p>
    <p><b>Страхователь: </b>{{ product.provider.name }}</p>
    <p><b>Участие: </b>{{ product.part }}</p>
    <p><b>Купон: </b>{{ product.coupon }}</p>
    <p>{{ product.desclong }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
