
{% extends "story/base.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Время');
    data.addColumn('number', 'Цена');
    data.addRows( {{ data|safe }} );

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 300, height: 200, title: "Временной ряд"});
  }
</script>
{% endblock %}

{% block content %}
<br>
<div class='container'>
  <div class='row align-items-start' height="300px">
    <div class='col'>
      <img class="img-rounded" src="{% static "/" %}{{ product.imgpath }}"/>
    </div>
    <div class='col'>
      <div id="chart_div"></div>
    </div>
  </div>
  <div class='row align-items-end' height="500px">
    <div class='col'>
      <h4><b>{{ product.descshort }}</b></h4>
      <p><b>Страхователь: </b>{{ product.listProviders }}</p>
      <p><b>Участие: </b>{{ product.part }}</p>
      <p><b>Купон: </b>{{ product.coupon }}</p>
      <p>{{ product.desclong }}</p>
    </div>
  </div>
</div>

{% endblock %}
