
{% extends "story/base.html" %}
{% load static %}

{% block scripts %}
<style>
ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
li.active{border-bottom:3px solid silver;}

#.item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.item-photo{justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0px;margin-top:20px}
.btn-success{width:100%;border-radius:0px;}
.section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
.title-price{margin-top:30px;margin-bottom:0px;color:black}
.title-attr{margin-top:0px;margin-bottom:0px;color:black;}
.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0px;}
.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0px;}
div.section > div {width:100%;display:inline-flex;}
div.section > div > input {margin:0px;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid orange;}

@media (max-width: 426px) {
    .container {margin-top:0px !important;}
    .container > .row{padding:0px !important;}
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0px ;    
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;
        
    }            
    .section{width:104%;}
    .menu-items{padding-left:0px;}
}</style>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Время');
    data.addColumn('number', 'Цена');
    data.addRows( {{ data|safe }} );

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 100%, height: 300, title: "Временной ряд"});
  }
	
   $(document).ready(function(){
            //-- Click on detail
            $("ul.menu-items > li").on("click",function(){
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            })

            $(".attr,.attr2").on("click",function(){
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            })

            //-- Click on QUANTITY
            $(".btn-minus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    if (parseInt(now) -1 > 0){ now--;}
                    $(".section > div > input").val(now);
                }else{
                    $(".section > div > input").val("1");
                }
            })            
            $(".btn-plus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    $(".section > div > input").val(parseInt(now)+1);
                }else{
                    $(".section > div > input").val("1");
                }
            })                        
        }) </script>
{% endblock %}

{% block content %}
<br>


<div class="container">

	
	
	<div class="row">

		<div class="col-xs-4 item-photo">
			<img class="img-responsive img-rounded" src="{% static "/" %}{{ product.imgpath }}" height="300px"/>
			<br>
			<div id="chart_div"></div>
                </div>
                <div class="col-xs-5" style="border:0px solid gray">
                    <!-- Datos del vendedor y titulo del producto -->
                    <h3>{{ product.descshort }}</h3>    
                    <h5 style="color:#337ab7">Предоставлено: <a href="#">{{ product.listProviders }}</a></h5>

                    <!-- Precios -->
                    <h6 class="title-price"><small>УЧАСТИЕ: </small></h6>
                    <h3 style="margin-top:0px;">{{ product.part }}</h3>

                    <!-- Detalles especificos del producto -->
                    <div class="section" style="padding-bottom:5px;">
                        <h6 class="title-attr"><small>КУПОН</small></h6>                    
                        <div>
                            <div class="attr2">2%</div>
                            <div class="attr2">4%</div>
                        </div>
                    </div>   
                    <div class="section" style="padding-bottom:5px;">
                        <h6 class="title-attr"><small>КОНТРОЛЬ ВОЛАТИЛЬНОСТИ</small></h6>                    
                        <div>
                            <div class="attr2">3%</div>
                            <div class="attr2">5%</div>
                        </div>
                    </div>   
                    <!--<div class="section" style="padding-bottom:20px;">
                        <h6 class="title-attr"><small>CANTIDAD</small></h6>                    
                        <div>
                            <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                            <input value="1" />
                            <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>            -->    

                    <!-- Botones de compra -->
                    <div class="section" style="padding-bottom:20px;">
                        <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> КУПИТЬ</button>
                        <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Добавить в сравнение</a></h6>
                    </div>                                        
                </div>                              

                <div class="col-xs-9">
                    <ul class="menu-items">
                        <li class="active">Описание продукта</li>
                        <li>Страховые компании</li>
                        <li>Банки-партнеры</li>
                    </ul>
                    <div style="width:100%;border-top:1px solid silver">
                        <p style="padding:15px;">
				Продукт с участием в индексе БЛАБЛА. 100% защита капиталовложений. Особенности данного продукта:
                        </p>
                        <ul>
                            <li>Индекс за последние 4 года вырос на 24%</li>
                            <li>Волатильность индекса составила 7.3%, что позволяет рассчитывать на высокий доход даже при консервативном контроле волатильности</li>
                            <li>Отрасль медицинских препаратов в ближайшие 3 года освоит лекарство против рака и старения, что с высокой долей вероятности означает существеннй рост</li>
                        </ul>  
                    </div>
                </div>		
	</div>
</div>
{% endblock %}
