*,
*:before,
*:after {
	box-sizing: border-box;
}

.row {
	/* column width */
	-moz-column-width: 20rem;
	-webkit-column-width: 20rem;
	
	/* space between columns */
	-moz-column-gap: 1rem;
	-webkit-column-gap: 1rem;
}

.item {
	display: inline-block;
	width: 100%;
}

body {
  padding-top: 50px;
}
